_site/

.sass-cache/
.jekyll-metadata

Gemfile.lock
desktop.ini
package-lock.json

node_modules
bower_components

*.db

\.idea/

target/

assets/js/*
assets/js/custom.min.js
assets/js/common-libs.min.js
