<div class="o-section-block">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Contact Details</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom c-widget-accordion__icon--bottomPulled" aria-hidden="true">
          <i class="fa fa-users fa-lg"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="c-widget-accordion-content-inner">
            <div id="leader"></div>
            <hr>
            <div id="contact"></div>
            <hr>
            {% if page.mail %}<i class="fa fa-envelope-o"></i> <a href="mailto:{{ page.mail }}">{{ page.mail }}</a><br/>{% endif %}
            {% if page.github %}<i class="fa fa-github"></i> <a href="{{ page.github }}">GH: {{ page.github | remove: "https://github.com/"}}</a><br/>{% endif %}
        </div>
      </div>
    </li>
  </ul>
</div>
