{% if page.profiles.report %}<i class="fa fa-file-text-o"></i> <a href="{{page.profiles.report}}">Report poslance</a><br/>{% endif %}
{% if page.profiles.wikipedia %}<i class="fa fa-wikipedia-w"></i> <a href="{{ page.profiles.wikipedia }}">W: {{ page.profiles.wikipedia | remove: "https://cs.wikipedia.org/wiki/" }}</a><br/>{% endif %}
{% if page.profiles.github %}<i class="fa fa-github"></i> <a href="{{ page.profiles.github }}">GH: {{ page.profiles.github | remove: "https://github.com/"}}</a><br/>{% endif %}
